<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SciLi Entertainment DVD</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
  </head>
  <body>
    <img class="bg" src="http://library.brown.edu/about/scili/SciLi-768px.jpg" />
    <div id="content-wrap">
      <div id="content">
        <input autofill="off" autocomplete="off" autofocus="true" id="search" type="text" placeholder="Search for SciLi DVDs by title or genre..."/>
        <img src="/shuffle.png" id="shuffle" title="Show Random" />
      </div>
    </div>
    <div id="results" class="empty"></div>
<script type="text/javascript">
$(document).ready(function() {
  var searchTimer;
  var config = {
    searchDelay: 300,
    minChars: 2
  };
  var resultDiv = $('#results');
  var tmpl = $('#result-tmpl').html();
  Mustache.parse(tmpl);
  var lastVal = '';
  var doSearch = function(query) {
    if (searchTimer) {
      clearTimeout(searchTimer);
    }
    resultDiv.empty().addClass('empty');
    $.get('/search', {
      'q': $('#search').val()
    }, function(resp) {
      resultDiv.empty();
      if (resp.results) {
        resp.results.forEach(function(elt) {
          resultDiv.append(Mustache.render(tmpl, elt));
        });
        resultDiv.removeClass('empty');
        $.get('/avail', {
          'callnos': resp.results.map(function(x) { return x.josiah_callno; })
        }, function(callno_resp) {
          for (callno in callno_resp) {
            var avail = callno_resp[callno];
            var targetRes = $('#' + callno).removeClass('pending');
            console.log(targetRes, callno);
            if (!avail) {
              targetRes.addClass('unavailable');
              targetRes.find('.available').attr('class', 'available no').attr('title', 'Unavailable');
            } else {
              targetRes.find('.available').attr('class', 'available yes').attr('title', 'Available Now');
            }
          }
        });
      } else {
        resultDiv.html('<p class="noresult">No Results</p>');
      }
    });
  }
  $('#search').on('keyup', function(ev) {
    searchVal = $('#search').val();
    if (ev.ctrlKey || ev.metaKey || ev.altKey || (ev.keyCode >= 37 && ev.keyCode <= 40) || lastVal == searchVal) {
      return;
    }
    resultDiv.empty().addClass('empty');
    lastVal = searchVal;
    if (searchVal.length >= config.minChars) {
      searchTimer = setTimeout(doSearch.bind(null, searchVal), config.searchDelay);
    }
  });
  doSearch(''); // initial empty search
  $('#shuffle').click(function() {
      $('#search').val('').focus();
      doSearch('');
  });
});
</script>
<script id="result-tmpl" type="x-tmpl-mustache">
<div class="result pending{{^plot_short}} lame{{/plot_short}}" id="{{josiah_callno}}">
  {{#plot_short}}<img src="/posters/{{josiah_callno}}.jpg" class="poster" />{{/plot_short}}
  {{^plot_short}}<div class="poster"></div>{{/plot_short}}
  <div class="not-poster">
    <h3>{{title}}</h3>
    <p class="plot">{{plot_short}}</p>
    {{#rating}}
    <div class="meter" title="Critic score from Rotten Tomatoes">
      <div class="fill" style="width: {{rating}}%;" title="Critic score from Rotten Tomatoes"></div>
      <div class="rating" title="Critic score from Rotten Tomatoes">Score: {{rating}}%</div>
    </div>
    {{/rating}}
    <ul class="genres">
    {{#genres}}
      <li>{{.}}</li>
    {{/genres}}
    </ul>
  </div>
  <div class="available pending" title='Checking availability...'></div>
</div>
</script>
<div id="credits">Poster images courtesy of <a href="http://www.imdb.com">IMDB</a>. Background photo via <a href="http://library.brown.edu/about/scili/">Brown University Library</a>.</div>
  </body>
</html>
