<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SciLi Entertainment DVD</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
  </head>
  <body>
    <img class="bg" src="/bg.jpg" />
    <div id="content-wrap">
      <div id="content">
        <input autofill="off" autocomplete="off" autofocus="true" id="search" type="text" placeholder="Search by title, genre, or director..."/>
        <img src="/shuffle.png" id="shuffle" title="Show Random" />
      </div>
    </div>
    <div id="results" class="empty"></div>
<script type="text/javascript">
$(document).ready(function() {
  var runtimeStr = function(rt) {
  console.log(rt);
    if (!rt) {
      return null;
    }
    var hrs = Math.floor(rt / 60);
    var mins = rt % 60;
    var str = '';
    if (hrs > 0) {
      str += hrs + 'hr ';
    }
    str += mins + 'min';
    return str;
  }
  var searchTimer;
  var config = {
    searchDelay: 300,
    minChars: 2
  };
  var STR = {
    unavailable: 'Unavailable',
    available: 'Available now',
    pending: 'Checking availability...'
  };
  var resultDiv = $('#results');
  var tmpl = $('#result-tmpl').html();
  Mustache.parse(tmpl);
  var lastVal = '';
  var doSearch = function(query) {
    if (searchTimer) {
      clearTimeout(searchTimer);
    }
    resultDiv.empty().addClass('empty');
    $.get('/search', {
      'q': $('#search').val()
    }, function(resp) {
      resultDiv.empty();
      if (resp.results) {
        resp.results.forEach(function(elt) {
          elt['runtime'] = runtimeStr(elt['runtime']);
          if (!('available' in elt)) {
            elt['avail_stat'] = 'pending';
            elt['avail_title'] = STR.pending;
          } else if (elt['available']) {
            elt['avail_stat'] = 'yes';
            elt['avail_title'] = STR.available;
          } else {
            elt['avail_stat'] = 'no';
            elt['avail_title'] = STR.unavailable;
          }

          resultDiv.append(Mustache.render(tmpl, elt));
        });
        var needed_callnos = resp.results.filter(function(x) { return !('available' in x); }).map(function(x) { return x.josiah_callno; });
        resultDiv.removeClass('empty');
        if (needed_callnos.length > 0) {
          $.get('/avail', {
            'callnos': needed_callnos
          }, function(callno_resp) {
            for (callno in callno_resp) {
              var avail = callno_resp[callno];
              var targetRes = $('#' + callno).removeClass('pending');
              if (!avail) {
                targetRes.addClass('no')
                  .find('.indicator').attr('title', STR.unavailable);
              } else {
                targetRes.addClass('yes').find('.indicator').attr('title', STR.available);
              }
            }
          });
        }
      } else {
        resultDiv.html('<p class="noresult">No Results</p>');
      }
    });
  }
  $('#search').on('keyup', function(ev) {
    searchVal = $('#search').val();
    if (ev.ctrlKey || ev.metaKey || ev.altKey || (ev.keyCode >= 37 && ev.keyCode <= 40) || lastVal == searchVal) {
      return;
    }
    resultDiv.empty().addClass('empty');
    lastVal = searchVal;
    if (searchVal.length >= config.minChars) {
      searchTimer = setTimeout(doSearch.bind(null, searchVal), config.searchDelay);
    }
  });
  doSearch(''); // initial empty search
  $('#shuffle').click(function() {
      $('#search').val('').focus();
      doSearch('');
  });
});
</script>
<script id="result-tmpl" type="x-tmpl-mustache">
<div class="result {{avail_stat}}{{^plot_short}} lame{{/plot_short}}" id="{{josiah_callno}}">
  {{#plot_short}}<img src="/posters/{{josiah_callno}}.jpg" class="poster" />{{/plot_short}}
  {{^plot_short}}<div class="poster"></div>{{/plot_short}}
  <div class="not-poster">
    <h3>{{title}}</h3>
    {{#director}}
    <h4>Director: {{director}}</h4>
    {{/director}}
    <p class="plot">{{plot_short}}
    {{#runtime}}
    <div class="runtime"><img src="/clock.png" /> {{runtime}}</div>
    {{/runtime}}
    </p>
    <ul class="genres">
    {{#genres}}
      <li>{{.}}</li>
    {{/genres}}
    </ul>
    {{#rating}}
    <div class="meter" title="Critic score from Rotten Tomatoes">
      <div class="fill" style="width: {{rating}}%;" title="Critic score from Rotten Tomatoes"></div>
      <div class="rating" title="Critic score from Rotten Tomatoes">Score: {{rating}}%</div>
    </div>
    {{/rating}}
  </div>
  <div class="indicator" title='{{avail_title}}'></div>
</div>
</script>
<div id="credits">
  By <a href="http://josephstein.me">Joe Stein</a>.
  Poster images via <a href="http://www.imdb.com">IMDB</a>.
  Photo credit: <a href="https://www.flickr.com/photos/stewart/99129170/">Stewart</a> / <a href="http://modernfurniturefair.com">Source</a> / <a href="http://creativecommons.org/licenses/by/2.0/">CC BY</a>.
  Design help courtesy of <a href="http://javierasandoval.github.io/">Javier Sandoval</a>.</div>
  </body>
</html>
